* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    margin-top: 0;
    background-color: #1f2937;
}

.navbar {
    width: 70.92%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
}

.hero-section {
    width: 70.92%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.content {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.content h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.content p {
    color: #e5e7eb;
    font-size: 18px;
}

.content button {
    width: 120px;
    padding: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #3882f6;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}

.hero-image {
    width: 520px;
    background-color: #626163;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image span {
    color: #d3d4d2;
}

.information-section{
    width: 100%;
    /* margin: 0 auto; */
}

.information-section h2{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.cards{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.card div{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin: auto;
}

.card p{
    text-align: center;
    color: #626163;
}

.quote-section{
    background-color: #e5e7eb;
    padding:20px;
    margin-bottom: 100px;
}

.quote-section blockquote{
    width: 61.92%;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
    color: #292e35;
}

blockquote p{
    margin-top: 30px;
    font-style: normal;
    font-size: 28px;
    color: #1f2937;
    text-align: right;
    font-weight: 800;
}

.call-to-action-section{
    width: 70.92%;
    height: 150px;
    border-radius: 10px;
    background-color: #3882f6;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 50px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-content{
    color: #f9faf8;
}

.cta-btn{
    background-color: #3882f6;
    color: #f9faf8;
    border: 3px solid #f9faf8;
    border-radius: 8px;
    height: fit-content;
    padding: 8px 35px;
    width: max-content;
    font-size: 15px;
    font-weight: 600;
}

.footer{
    background-color: #1f2937;
    padding: 40px;
}

.footer p{
    color:#f9faf8;
    text-align: center;
}