* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

.navbar {
    margin: 0 auto;
    width: 100%;
    height: 163px;
    position: relative;
}

.logo {
    position: absolute;
    top: 37px;
    left: 120px;
    width: 180px;
    height: 80px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.02em;
}

.nav-rem {
    position: absolute;
    top: 83px;
    left: 442px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-rem div {
    font-family: PT Sans;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
    font-weight: 700;
}

.class-btn {
    color: white;
    border-radius: 28px;
    padding: 8px 24px;
    height: 44px;
    background-color: #DC3636;
    border: #DC3636;
    font-family: PT Sans;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 700;
}

.nav-search {
    position: absolute;
    align-items: center;
    top: 21px;
    left: 960px;
    display: flex;
    gap: 40px;
}

.search {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search i {
    width: 20px;
    color: #434343;
    height: 20px;
}

.search span {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
}

.hero-section {
    background-color: #ECECEC;
    width: 100%;
    padding-top: 39px;
    padding-bottom: 18px;
}

.hero-main {
    height: 385px;
    width: 1125px;
    margin: 0 auto;
    background-color: white;
    padding: 37px 43px;
    position: relative;
}

.hero-top {
    display: flex;
    gap: 52px;
}

.heading {
    width: 728px;
    display: flex;
    flex-direction: column;
}

.heading p {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0.02rem;
    text-align: left;
    color: #434343;
}

.ellipse {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ellipse-first {
    width: 210px;
    height: 42px;
    padding: 5px, 6px;
    border-radius: 30px;
    gap: 10px;
    border: 0.5px solid #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color: #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
}

.ellipse-first i {
    color: #00ACB4;
}

.ellipse-second,
.ellipse-third {
    width: 93px;
    height: 40px;
    padding: 5px, 6px;
    border-radius: 30px;
    border: 0.5px solid #f8d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color: #434343;
    background-color: #f8d7d7;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
}

.ellipse-third {
    width: 123px;
    /* background-color: #ECECEC; */
    background-color: #b4b4b4;
}

.member-section {
    width: 264.12px;
    height: 147.81px;
    border: 0.5px solid rgba(67, 67, 67, 1);
    border-radius: 8px;
    position: relative;
    border-bottom: none;
}

.member-div {
    display: flex;
}

.member,
.non-member {
    height: 93.47px;
    width: 50%;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.member {
    border-right: 0.5px solid rgba(67, 67, 67, 1);
    ;
}

.sign-up {
    width: 100%;
    height: 54.34px;
    position: absolute;
    bottom: 0;
    background-color: rgba(220, 54, 54, 1);
    color: white;
    font-family: PT Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    border: 0.5px solid #DC3636;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.price {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: #434343;
}

.reduce-rate {
    margin-top: 29.19px;
    width: 264px;
    height: 44px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 8px;
    border: 1px solid #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
    background-color: white;
}

.hero-bottom {
    width: 1039px;
    height: 53px;
    display: flex;
    position: absolute;
    bottom: 30px;
}

.hero1 {
    width: 309px;
    display: flex;
    gap: 16px;
    align-items: first baseline;
}

.hero2 {
    width: 318px;
    height: 51px;
    margin-left: 134px;
    border-right: 0.8px solid #828282;
    border-left: 0.8px solid #828282;
}

.hero3 {
    margin-left: 52px;
    width: 266px;
    display: flex;
    gap: 16px;
    align-items: first baseline;
}

.hero4 {
    margin-left: 30px;
    width: 248px;
    display: flex;
    gap: 20px;
    align-items: first baseline;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.hero4 span {
    font-weight: 700;
}

.hero1 i,
.hero3 i,
.hero4 i {
    color: #DC3636;
}

.hero1-sub {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434343;
}

.dates {
    font-weight: 700;
}

.wednesday {
    color: #DC3636
}

.hero3-sub {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.hero-second {
    width: 1127px;
    margin: 0 auto;
    background-color: white;
    margin-top: 28px;
    margin-bottom: 27px;
}

.non-carousel {
    display: flex;
}

.review {
    width: 392px;
    background-color: #fdf0e4;
}

.paragraph {
    width: 735px;
    padding-top: 54px;
    padding-left: 38px;
}

.content {
    width: 634px;
    color: #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.share {
    display: flex;
    gap: 14px;
    align-items: center;
    color: #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 20px;
}

.line {
    width: 636px;
    border: 0.8px solid #828282
}

.class-schedule {
    margin-top: 32px;
    margin-bottom: 40px;
}

.class-schedule h2 {
    color: #434343;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}

.time {
    display: flex;
    gap: 20px;
    margin-top: 34px;
    margin-bottom: 29px;
    color: #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.class-label {
    color: #434343;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
}

.class-dates {
    display: flex;
    gap: 20px;
}

.class-days {
    display: flex;
}

.class-days div {
    width: 58px;
    height: 67px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
}

.user-image {
    padding-left: 117px;
    padding-top: 39px;
    margin-bottom: 35px;
}

.user-review {
    width: 317px;
    height: 492px;
    margin: 0 auto;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434343;
}

.user-review span {
    color: #00ACB4;
    font-weight: 700;
    line-height: 25px;
}

.review-btn {
    margin-left: 37px;
    width: 202px;
    height: 44px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 28px;
    border: 1px solid #DC3636;
    color: #DC3636;
    background-color: white;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
}

@keyframes slideAnimationLeft {
    0% {
        transform: translateX(-22.92%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideAnimationRight {
    0% {
        transform: translateX(22.92%);
    }

    100% {
        transform: translateX(0%);
    }
}

.carousel {
    height: 264px;
    width: 1127px;
    background-image: url(./images/Rectangle\ 111.png);
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.carousel i {
    width: 9.88px;
    height: 15.12px;
    padding: 7.56px, 11.06px, 7.56px, 11.06px;
    position: relative;
    overflow: hidden;
}

.carousel i:hover {
    cursor: pointer;
}

.quote {
    display: none;
    width: 953px;
    height: 173px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 0px #0000004D,
        0px 4px 8px 3px #00000026;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user-quotes {
    display: flex;
}

.active {
    display: flex;
}

.double-quote {
    width: 74px;
    height: 164px;
    font-family: Gotham Rounded;
    font-size: 100px;
    font-weight: 400;
    line-height: 200px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #00ACB4;
}

.quote-text {
    width: 684px;
    height: 82px;
    font-family: Gotham;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
}

.author {
    font-style: normal;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-third {
    width: 1127px;
    height: 262px;
    margin: 0 auto;
    background-color: white;
    padding-left: 38px;
    padding-top: 41px;
    margin-bottom: 28px;
}

.similar-class {
    height: 30px;
    color: #434343;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 31px;
}

.art-container {
    display: flex;
    gap: 83px;
    font-family: PT Sans;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.art-container a {
    color: #DC3636;
}

.remote-classes-section {
    background-color: white;
    margin-bottom: 60px;
}

.remote-heading {
    margin-left: 196px;
    margin-top: 50px;
    color: #434343;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 610px;
    height: 30px;
    margin-bottom: 22px;
}

.remote-para {
    width: 1124px;
    margin-left: 197px;
    height: 232px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434343;
}

.hello-link {
    color: #00ACB4;
}

.learn-about {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    color: #DC3636;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.line-remote {
    border: 0.8px solid #828282;
    width: 1130px;
    margin-left: 194px;
    margin-bottom: 55px;
}

.cancel-heading {
    width: 610px;
    height: 30px;
    margin-left: 196px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434343;
}

.cancel-para {
    margin-top: 20px;
    margin-left: 197px;
    width: 1127px;
    height: 58px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 30px;
}

.cancel-policy {
    display: flex;
    margin-left: 196px;
    gap: 15px;
}

.cancel-div {
    height: 141px;
    width: 264px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434343;
    margin-bottom: 30px;
}

.bold-span {
    color: #434343;
    font-weight: 700;
}

.red-span {
    color: #DC3636;
    font-weight: 700;
}

.footer {
    position: relative;
    height: 411.6px;
    width: 100%;
    background-color: #434343;

}

.news {
    width: 342px;
    height: 39.98px;
    position: absolute;
    top: 52.1px;
    left: 974px;
    font-family: PT Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
}

.some-links {
    position: absolute;
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    width: 668px;
    height: 34.72px;
    left: 139px;
    top: 118.79px;
}

.enter-email {
    width: 348px;
    height: 52.6px;
    top: 96.29px;
    left: 971px;
    border-radius: 28px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    padding-left: 19.28px;
}

.enter-email::placeholder {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.subscribe-btn {
    position: absolute;
    width: 113.86px;
    height: 46.29px;
    top: 99.44px;
    left: 1202.39px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 28px;
    gap: 8px;
    background-color: #F39B4E;
    color: white;
    border: 1px solid #F39B4E;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer-contact {
    width: 82px;
    height: 39.6px;
    position: absolute;
    top: 206.32px;
    left: 139px;
    color: white;
    font-family: PT Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.address {
    width: 448px;
    height: 24.2px;
    top: 245.92px;
    left: 139px;
    position: absolute;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #F39B4E;
}

.email-phone {
    width: 438px;
    height: 26.3px;
    position: absolute;
    top: 283.07px;
    left: 139px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: white;
}

.email-phone span {
    color: #F39B4E;
}

.copyright {
    width: 294px;
    height: 33.66px;
    position: absolute;
    top: 354.7px;
    left: 136px;
    color: white;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer-icons {
    display: flex;
    width: 138.63px;
    height: 42.08px;
    top: 248px;
    left: 1180.87px;
    position: absolute;
    gap: 10px;
}

.privacy {
    width: 137px;
    height: 33.66px;
    top: 354.7px;
    left: 1172px;
    position: absolute;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: right;
    color: white;
}

.menu {
    display: none;
}

@media (max-width:600px) {
    * {
        overflow-x: hidden;
    }

    .navbar {
        padding-bottom: 0;
        height: 140px;
    }

    .logo {
        position: absolute;
        top: 71px;
        left: 10px;
        width: 120px;
        height: 50px;
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo span {
        font-size: 25px;
    }

    .nav-rem {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        top: 81px;
        right: 0px;
    }

    .menu i {
        width: 45px;
        height: 75px;
        font-size: 24px;
    }

    .heading {
        width: 400px;
    }

    .heading p {
        font-size: 24px;
        line-height: 30px;
    }

    .nav-search {
        position: absolute;
        align-items: center;
        left: 105px;
        display: flex;
        gap: 40px;
    }

    .ellipse{
        flex-wrap: wrap;
        gap:10px;
    }

    .ellipse-third{
        margin-top: 10px;
    }


    .hero-top{
        display: flex;
        flex-direction: column;
    }

    .hero-main{
        height: 780px;
        display: flex;
        flex-direction: column;
    }

    .hero-bottom{
        height: max-content;
        bottom: 0;
        top: 560px;
        margin-top: 23px;
        
        flex-direction: column;
    }

    .hero2{
        border: none;
        margin-left: 0;
    }

    .hero1 i{
        height: fit-content;
    }

    .hero3{
        width: 900px;
        margin-left: 0;
        height: max-content;
        margin-bottom: 0;
    }
    
}